.notification.notification-info
  = t("spina.checkout.account_active", name: @customer_account.customer.first_name)
  %br/
  = link_to t("spina.checkout.account_active_login_email"), login_path(email: @customer_account.email), data: { remote: true }
