= form_with url: login_path, data: {controller: "login"} do |f|
  .modal-header
    %h1.heading-1=t 'spina.checkout.sessions.email'
    .page-content=t 'spina.checkout.sessions.what_is_your_email'

  .form-group
    .input-wrapper.focused{data: {controller: "input", label: Spina::Shop::CustomerAccount.human_attribute_name(:email)}}
      = f.email_field :email, value: params[:email], data: {target: "input.field modal.firstInput", action: "keyup->input#placeholder change->input#placeholder"}

    = checkout_field(f, :email, required: true, value: params[:email] || "mail@bramjetten.nl")

  = button_tag type: :submit, class: 'button button-primary button-large button-block' do
    .button-content
      =t 'spina.checkout.sessions.next'
      %i.icon.icon-arrow-right{style: "margin-left: 8px"}
