%header#primary
  = link_to '/', class: 'logo', data: {turbolinks: false} do
    = image_tag "spina/checkout/logo.svg"
    
  .safe-checkout-message
    %i.icon.icon-tick
    =t 'spina.checkout.safe_checkout'