- if @step == :overview
  - if Spina::Checkout.config.terms_and_conditions_path.present?
    .sidebar-terms-and-conditions
      =t 'spina.checkout.terms_and_conditions_html', link: Spina::Checkout.config.terms_and_conditions_path, target: :blank

  - if current_order.payment_url.present?
    = link_to current_order.payment_url, class: "button button-brand button-block button-large", data: {disable: "..."} do
      =t "spina.checkout.pay_order"
  - else
    = button_tag t('spina.checkout.confirm_order'), type: :submit, class: 'button button-brand button-block button-large', data: {disable: "..."}

- else
  = button_tag type: :submit, class: 'button button-primary button-block button-large', data: {disable_with: "..."} do
    =t 'spina.checkout.next'
    %i.icon.icon-arrow-right