.sidebar-product{data: {quantity: order_item.quantity}}
  .sidebar-product-image
    = image_tag main_app.url_for(order_item.orderable&.root.product_images.first&.file&.variant(resize: '100x100')), style: 'height: 100%; width: auto'
  .sidebar-product-name= order_item.orderable.full_name
  .sidebar-product-price= number_to_currency order_item.total