.sidebar-product{data: {quantity: order_item.quantity}}
  .sidebar-product-image= product_image_tag order_item.orderable, {resize: '160x160'}
  .sidebar-product-name= order_item.orderable.full_name
  .sidebar-product-price= number_to_currency order_item.total