// Forms

.form-group
  display: flex
  margin-bottom: 10px

  .form-control
    flex: 1
    padding-right: 10px

    &:last-child
      padding-right: 0

  .form-control-large
    flex: 3

  input
    background: #fff
    border: 1px solid #c3c3c3
    border-radius: 3px
    box-sizing: border-box
    display: block
    font-size: 14px
    min-height: 40px
    line-height: 24px
    padding: 8px 14px
    width: 100%

  .field_with_errors
    width: 100%
  
  .field_with_errors input
    border-color: #bf0016

.form-description
  font-size: 14px

// Form options

.form-options
  width: 100%

  input[type="radio"]
    display: none

  .form-option .form-option-container
    border: 1px solid $gray
    border-bottom: none
    cursor: pointer

    &:hover
      background: $gray-lightest        

  .form-option:first-child .form-option-container
    border-top-left-radius: 4px
    border-top-right-radius: 4px

  .form-option:last-child .form-option-container
    border-bottom: 1px solid $gray
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px

  .form-option-container
    align-items: center
    display: flex
    padding: 10px

  .form-option-extended
    float: right
    visibility: hidden
    position: absolute

  .form-option-radio-button
    background: #fff
    border: 1px solid $gray
    border-radius: 10px
    height: 20px
    margin: 0 20px 0 10px
    position: relative
    width: 20px

  .form-option-image
    align-items: center
    display: flex
    justify-content: center
    margin-right: 20px
    width: 50px

  .form-option-description
    color: $gray-darker
    display: flex
    flex: 1
    flex-direction: column
    font-size: 16px
    font-weight: 400
    line-height: 20px

    strong
      color: $gray-darkest
      font-weight: 600

    small
      color: $gray-dark
      display: block
      font-size: 14px

      .text-green
        color: $green

.form-options input[type="radio"]:checked + .form-option-container
  background: tint($gray, 95%)
  position: relative

  .form-option-extended
    position: absolute
    right: 8px
    top: 8px
    visibility: visible

    @media #{$mobile}
      order: 3
      position: relative
      right: auto
      top: auto

  .form-option-radio-button
    &:after
      background: $primary
      border-radius: 9px
      content: " "
      height: 14px
      left: 2px
      position: absolute
      top: 2px
      width: 14px

// Selects

.select-dropdown
  background: #fff
  border: 1px solid #c3c3c3
  border-radius: 3px
  display: inline-block
  font-family: $font-body
  line-height: 28px
  margin: 0
  overflow: hidden
  padding: 0
  position: relative
  transition: border .2s ease
  width: 100%

  .field_with_errors
    select
      color: #aa1b1f

  &:before
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 6px solid $gray-darker
    content: " "
    display: block
    right: 10px
    position: absolute
    transform: translateY(-50%)
    top: 50%

  &:hover
    border: 1px solid $primary

  select
    background-color: transparent
    background-image: none
    border: none
    box-shadow: none
    color: #000
    cursor: pointer
    display: inline-block
    font-family: $font-body
    font-size: 14px
    font-weight: 400
    line-height: 16px
    margin: 0
    outline: none
    padding: 12px 36px 12px 14px
    position: relative
    width: 115%
    z-index: 2
    -webkit-appearance: none

    &::-ms-expand
      display: none

// Labels
.label
  color: #333
  display: inline-block
  font-size: 14px
  font-weight: 600
  line-height: 24px
  margin-bottom: 14px

// Delivery fields

input[type="checkbox"][name="order[separate_delivery_address]"]:checked ~ .checkout-delivery-fields
  display: block

.checkout-delivery-fields
  display: none

// Notifications

.notification
  background: $primary
  border-radius: 5px
  color: white
  font-weight: 600
  margin-bottom: 20px
  opacity: .75
  padding: 20px