header#primary
  align-items: center
  border-bottom: 1px solid $gray-lighter
  display: flex
  justify-content: space-between
  padding: 12px 20px
  
  a.logo
    height: 30px
    
    img
      height: 100%

  @media #{$mobile}
    background: White
    padding: 5px 10px
    position: fixed
    top: 0px
    width: 100%
    z-index: 100

    a.logo
      height: 20px

  .safe-checkout-message
    color: $gray-dark
    font-size: 13px
    font-weight: 700
    letter-spacing: 1px
    text-transform: uppercase

    @media #{$mobile}
      font-size: 11px
      letter-spacing: .5px
      margin-right: 20px